services:
  - type: web
    name: telegram-video-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: BOT_TOKEN
        value: "8288842404:AAEp6wAU8EC3uepgsuwuzYkBO_Mv3nMecp4"
      - key: ADMIN_IDS
        value: "YOUR_USER_ID"  # ضع معرفك الرقمي هنا
    plan: free
