services:
  - type: web
    name: telegram-video-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: BOT_TOKEN
        value: "8288842404:AAEp6wAU8EC3uepgsuwuzYkBO_Mv3nMecp4"
    autoDeploy: true
    plan: free
    healthCheckPath: /
    headers:
      - path: /*
        name: X-Frame-Options
        value: DENY
      - path: /*
        name: X-Content-Type-Options
        value: nosniff
